<div class='flex min-h-full text-base md:ml-[230px]'>
  <div class='p-10 grow'>
    <full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>

    <app-modal #appointment_modal title="New Appointment">
      <div modal-body>
        <form>
          <div class="mb-3">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
            <input type="text" name="title" id="title" [(ngModel)]="appointmentRequest.title" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="General check" required />
          </div>
          <div class="mb-3">
            <label for="start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start</label>
            <input type="datetime-local" name="start" id="start" [(ngModel)]="appointmentRequest.start" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="General check" required />
          </div>
          <div class="mb-3">
            <label for="finish" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Finish</label>
            <input type="datetime-local" name="finish" id="finish" [(ngModel)]="appointmentRequest.finish" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="General check" required />
          </div>
          <div class="mb-3">
            <label for="doctor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Doctor</label>
            <select id="doctor" name="doctor" [(ngModel)]="doctorSelected" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="patient" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Patient</label>
            <select id="patient" name="patient" [(ngModel)]="patientSelected" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.name }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="flex gap-4" modal-footer>
        <button (click)="onSubmit()" class="px-4 py-1 hover:bg-white hover:text-green-400 font-semibold bg-green-500 text-white rounded border border-green-500">Create</button>
        <button (click)="appointment_modal.close()" class="px-4 py-1 hover:bg-white hover:text-red-400 font-semibold bg-red-500 text-white rounded border border-red-500">Cancel</button>
      </div>
    </app-modal>

    <app-modal #appointment_info_modal>
      <div modal-body>
        <h2>{{ appointmentSelected?.title }}</h2>
        <p>{{ appointmentSelected?.start?.toLocaleString() }}</p>
        <p>{{ appointmentSelected?.finish?.toLocaleString() }}</p>
        <p class="capitalize">{{ appointmentSelected?.status?.toLowerCase() }}</p>
        <p>Doctor: {{ appointmentMembers?.doctor?.name }}</p>
        <p>Patient {{ appointmentMembers?.patient?.name }}</p>
      </div>
      <div modal-footer>
        <button (click)="appointment_info_modal.close()" class="px-4 py-1 hover:bg-white hover:text-red-400 font-semibold bg-red-500 text-white rounded border border-red-500">Close</button>
      </div>
    </app-modal>
  </div>
</div>