<main class='flex min-h-full text-base ml-64'>
  <div class='p-10 grow m-auto'>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                    Doctor
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Specialty
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Phone
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let doctor of doctors" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{ doctor.name }}
                  </th>
                  <td class="px-6 py-4 capitalize">
                    {{ doctor.specialty.name }}
                  </td>
                  <td class="px-6 py-4">
                    {{ doctor.phone }}
                  </td>
              </tr>
              
          </tbody>
      </table>
    </div>

  </div>
</main>