<main class='flex min-h-full text-base md:ml-64'>
  <div class='p-10 grow m-auto'>
    <app-modal #patient_modal title="New Patient">
      <button modal-trigger (click)="patient_modal.open()" class="m-4 px-4 py-1 hover:bg-white hover:text-blue-400 font-semibold bg-blue-500 text-white rounded border border-blue-500">Add Patient</button>
      <div modal-body>
        <form>
          <div class="mb-3">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="patientRequest.name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John Cena" required />
          </div>
          <div class="mb-3">
            <label for="birthDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Birth Date</label>
            <input type="date" name="birthDate" id="birthDate" [(ngModel)]="patientRequest.birthDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
          </div>
          <div class="mb-3">
            <label for="sex" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sex</label>
            <input type="text" name="sex" id="sex" [(ngModel)]="patientRequest.sex" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="MALE/FEMALE" required />
          </div>
          <div class="mb-3">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
            <input type="text" name="phone" id="phone" [(ngModel)]="patientRequest.phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ej: 989989877" required />
          </div>
        </form>
      </div>
      <div class="flex gap-4" modal-footer>
        <button (click)="onSubmit(patient_modal)" class="px-4 py-1 hover:bg-white hover:text-green-400 font-semibold bg-green-500 text-white rounded border border-green-500">Create</button>
        <button (click)="patient_modal.close()" class="px-4 py-1 hover:bg-white hover:text-red-400 font-semibold bg-red-500 text-white rounded border border-red-500">Cancel</button>
      </div>
    </app-modal>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                    Patient
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Birth Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Sex
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Phone
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let patient of patients" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{ patient.name }}
                  </th>
                  <td class="px-6 py-4 capitalize">
                    {{ patient.birthDate }}
                  </td>
                  <td class="px-6 py-4">
                    {{ patient.sex }}
                  </td>
                  <td class="px-6 py-4">
                    {{ patient.phone }}
                  </td>
              </tr>
              
          </tbody>
      </table>
    </div>
  </div>
</main>